extends ./layout/index.pug 

block contenido
    main.container.mt-5
        .row   
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote 
                    | Lorem ipsum odor amet, consectetuer adipiscing elit. Enim commodo odio a luctus pretium facilisi primis. 
                    | Mus nibh et at nec pharetra pellentesque. Donec aptent eros lorem etiam ac; erat eleifend rutrum lorem. 
                    | Vel neque nunc primis enim id class gravida vestibulum. Ahabitasse consectetur dignissim semper laoreet 
                    | nulla curae. Egestas potenti natoque magnis elementum aenean egestas vestibulum eros dignissim? Urna 
                    | blandit efficitur sit non libero dictum platea. Per vitae malesuada orci aptent magnis dolor elit porttitor.

                p 
                    | Placerat in quis sem et egestas integer. Porttitor placerat interdum; habitasse faucibus aptent magnis. 
                    | Nisl adipiscing mi; himenaeos vel donec pulvinar sit. Vitae mus mi maximus sociosqu quis placerat eget quisque. 
                    | Lorem interdum sapien, semper torquent nec efficitur erat. Eu magna consequat vestibulum luctus venenatis 
                    | scelerisque lobortis auctor.

        .listado-iconos 
          .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p 
                        | Ad animi animi aut quidem voluptate rem exercitationem odit vel tempora eaque est dolor accusamus et 
                        | sunt galisum hic esse nemo. Sit dignissimos aspernatur aut aspernatur sint est modi error cum 
                        | accusantium accusantium sed dolore consequuntur. Quo repudiandae dolore qui omnis animi At beatae 
                        | unde ex rerum galisum sed dolores voluptatibus sit libero dolore. Aut autem dignissimos quo harum 
                        | placeat aut nihil ipsa cum labore accusantium non odio necessitatibus.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 LosMejores Destinos 
                    p 
                        | Ad animi animi aut quidem voluptate rem exercitationem odit vel tempora eaque est dolor accusamus et 
                        | sunt galisum hic esse nemo. Sit dignissimos aspernatur aut aspernatur sint est modi error cum 
                        | accusantium accusantium sed dolore consequuntur. Quo repudiandae dolore qui omnis animi At beatae 
                        | unde ex rerum galisum sed dolores voluptatibus sit libero dolore. Aut autem dignissimos quo harum 
                        | placeat aut nihil ipsa cum labore accusantium non odio necessitatibus.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p 
                        | Ad animi animi aut quidem voluptate rem exercitationem odit vel tempora eaque est dolor accusamus et 
                        | sunt galisum hic esse nemo. Sit dignissimos aspernatur aut aspernatur sint est modi error cum 
                        | accusantium accusantium sed dolore consequuntur. Quo repudiandae dolore qui omnis animi At beatae 
                        | unde ex rerum galisum sed dolores voluptatibus sit libero dolore. Aut autem dignissimos quo harum 
                        | placeat aut nihil ipsa cum labore accusantium non odio necessitatibus.
